body {
    padding-top: 24rem;
    background-image: url(https://whitehat.org.uk/profile-employer.ae341c61.svg);
    background-position: 0% -12rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

:root {
    --wh-navy: #16264D;
    --wh-near-white: #f6f6f6;
    --wh-gray: #797979;
    --wh-gray-light: #e4e4e4;
    --wh-purple: #7f5eff;
    --wh-light-purple: #dcd4fc;
    --wh-green: #25dd9c;
    --wh-dark-green: #1a9b6d;
    --wh-dark-red: #994949;
    --wh-red: #E23030;
}

hr {
    border: solid 1px #a7a7a7;
}

.tabbed-code-block {
    display: flex;
    justify-content: flex-start;
    padding-left: .5em;
    position: relative;
}
.tabbed-code-block a {
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
    box-sizing: border-box;
    padding: .6em 1em;
    border: solid .3em hsl(0, 0%, 33%);
    border-radius: .5em .5em 0 0;
    background-color: hsl(0, 0%, 66%);
    color: hsl(0, 0%, 33%);
    text-decoration: none;
    margin-right: -.3em;
    transform: translate(0, .25em);
}
.tabbed-code-block a.active {
    border-bottom-color: black;
    background-color:black;
    color: white;
    box-shadow: -2px 0px 2px -1px hsl(0, 0%, 16%), inset 0 1.3em 0 -1em #1add97;
    z-index: 1;
}
pre[class*="selected"] {
    margin: 0 0 .5em 0;
}
pre.selected {
    display: block;
}
pre.unselected {
    display: none;
}
table {
    width: 100%;
    table-layout: fixed;
}
table, th, td {
    border: 1px solid var(--wh-gray-light);
    border-collapse: collapse;
}
th, td {
    padding: 1rem;
    vertical-align: top;
}
th {
    background-color: var(--wh-near-white);
}
