body {
    padding-top: 24rem;
    background-image: url(https://whitehat.org.uk/profile-employer.ae341c61.svg);
    background-position: 0% -12rem;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

hr {
    border: solid 1px #a7a7a7;
}

.tabbed-code-block {
    display: flex;
    justify-content: flex-start;
    padding-left: .5em;
    position: relative;
}
.tabbed-code-block a {
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
    box-sizing: border-box;
    padding: .6em 1em;
    border: solid .3em hsl(0, 0%, 33%);
    border-radius: .5em .5em 0 0;
    background-color: hsl(0, 0%, 66%);
    color: hsl(0, 0%, 33%);
    text-decoration: none;
    margin-right: -.3em;
    transform: translate(0, .25em);
}
.tabbed-code-block a.active {
    border-bottom-color: black;
    background-color:black;
    color: white;
    box-shadow: -2px 0px 2px -1px hsl(0, 0%, 16%), inset 0 1.3em 0 -1em #1add97;
    z-index: 1;
}
pre[class*="selected"] {
    margin: 0 0 .5em 0;
}
pre.selected {
    display: block;
}
pre.unselected {
    display: none;
}
